<div id="edit-message-modal-template" style="display: none;">
    <div class="modal" id="edit-message-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Редактировать сообщение</h3>
            <input type="text" id="edit-message-input" class="edit-message-input" value="">
            <div class="modal-actions">
                <button id="edit-message-save" class="modal-btn modal-btn-primary">Сохранить</button>
                <button id="edit-message-cancel" class="modal-btn modal-btn-secondary">Отмена</button>
            </div>
        </div>
    </div>
</div>
